#main {
    width: 88%;
    margin: 0 auto;
}

.weather_head {
    margin: .7rem auto .4rem auto;
    background-color: #CCF6FF;
    border-radius: 6px;
    height: 2.93rem;
}

.city {
    padding: .5rem;
    font-size: .36rem;
    font-weight: bold;
}

.weather_box {
    overflow: hidden;
    font-weight: bold;
    /*padding: 0 .55rem;*/
    text-align: center;
}

.weather_box .time {
    float: left;
    font-size: .78rem;
    width: 37%;
}

.weather_box .date {
    float: left;
    padding: 0 0.2rem 0 0;
    font-size: .36rem;
    border-right: 2px solid #000;
    width: 27%;
    text-align: right;
}

.weather_box .date span {
    display: block;
}

.weather_box .date span:first-child {
    padding-bottom: .1rem;
}

.weather_box .temp {
    float: left;
    padding: 0 0 0 .2rem;
    width: 36%;
    text-align: left;
    font-size: .36rem;
}

.weather_box .temp div {
    /*font-size: 0;*/
}

.weather_box .temp span {
    margin: 0 .37rem 0.1rem 0;
    display: inline-block;
    font-size: .36rem;
    height: .45rem;
    line-height: .45rem;
}

.weather_box .temp .wendu {
    height: .45rem;
    margin-bottom: .1rem;
    position: relative;
}

.weather_box .temp .wendu span {
    margin: 0;
    position: relative;
}

.weather_box .temp .wendu .imgspan {
    position: absolute;
    left: 1.5rem;
    top: 0;
    z-index: 1;
}

.weather_box .temp .wendu img {
    width: .45rem;
    height: .45rem;
}

.chart {
    height: 680px;
}

.navbox {
    height: 249px;
    background-color: #FFE6CC;
    margin: .57rem 0 0 0;
    padding: .59rem 0 .29rem 0;
}

.navbox .navitem {
    float: left;
    width: 33%;
    text-align: center;
    color: #005176;
    font-size: .36rem;

}

.navbox .navitem .navimg {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto;
}

.navbox .navitem .navimg img {
    width: 100%;
}

.codebox {
    width: 53%;
    margin: 1.06rem auto .36rem auto;
    overflow: hidden;
}

.codebox .public_code {
    float: left;
    width: 1.81rem;
    height: 1.81rem;
    vertical-align: middle;
}

.codebox .app_code {
    float: right;
}

.codebox img {
    width: 100%;
}

.tips {
    text-align: center;
    font-size: 0.3rem;
}

.logobox {
    width: 27%;
    margin: 0 auto;
    font-size: 0;
    padding: .55rem 0;
}

.logobox img {
    width: 100%;
}

.navbox a:active {
    opacity: .7;
}
